<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Web Portfolio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Markazi+Text" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="font-awesome/css/all.css">



</head>

<body>
    <div class="wrapper">

        <div>
            <figure>
                <img src="./images/website1.jpg" alt="website1">
                <figcaption>I have converted a photoshop file into a completely similar functioning website. I was a pretty challenging task initially, but once you know how to initiate the process, everything gets easier along the way.</figcaption>
            </figure>
            <figure>
                <img src="./images/website2.jpg" alt="website2">
                <figcaption>This one is a dummy coffee shop for which I have created a fully functioning website. I have used bootstrap to align the content.</figcaption>
            </figure>
            <figure>
                <img src="./images/website3.png" alt="website3">
                <figcaption>This website has lots of javascript functioning. It has sliding images and navigation buttons which loads different content when clicked</figcaption>
            </figure>
            <figure>
                <img src="./images/website4.jpg" alt="website4">
                <figcaption> This website was a Re-design for a client aiming to open Hybrid automobile company.</figcaption>
            </figure>
        </div>

        <div>
            <figure>
                <img src="./images/scalleywags.jpg" alt="scalleywags">
                <figcaption>This is a website prototype created in adobe photoshop. Prototypes are an important part of website design, it serves a great resource for the coder to plan his work and start coding appropriately from the beginning.</figcaption>
            </figure>
            <figure>
                <img src="./images/collage.jpg" alt="collage">
                <figcaption>This is a grahic collage, different pictures are combined together to create this image.</figcaption>
            </figure>
            <figure>
                <img src="./images/card.jpg" alt="card">
                <figcaption>This is a business card designed by me for a client offering services like Graphic deisgn and such.</figcaption>
            </figure>
            <figure>
                <img src="./images/AhujaYatharth-Logo.jpg" alt="AhujaYatharth-Logo">
                <figcaption>This is a Business Logo i designed for a client. </figcaption>
            </figure>
        </div>

        <div>
            <figure>
                <img src="./images/photo.jpg" alt="photo">
                <figcaption>This a Photo of a model Shot for a commercial ad film.</figcaption>
            </figure>
            <figure>
                <img src="./images/magazine.jpg" alt="magazine">
                <figcaption>This Magazine was created to showcase the cars from the toronto international automotive show.</figcaption>
            </figure>
            <figure>
                <img src="./images/IMG1.jpg" alt="img1">
                <figcaption>This Picture focuses on the Horizontal lines</figcaption>
            </figure>
            <figure>
                <img src="./images/IMG2.jpg" alt="img2">
                <figcaption>This photograph showcases the different shades of light in focus.</figcaption>
            </figure>

        </div>

        <div>
            <figure>
                <img src="./images/pasta.png" alt="pasta">
                <figcaption>In this video I have shown "how-to-make-white-sauce-pasta", I have first shot the video with a dslr camera and then edited it in adobe premiere pro.</figcaption>
            </figure>

            <figure>
                <img src="./images/interview.png" alt="interview">
                <figcaption>This video was shoot with multiple dslr cameras with a sound recorder. It was also edited and rendered in adobe premiere pro.</figcaption>
            </figure>
        </div>
